@tailwind base;
@tailwind components;
@tailwind utilities;

.primary {
  background-color: #FC997C;
}

.text-primary {
  color: #FC997C !important;
}

.secondary {
  background-color: #2E4C6D;
}

.text-secondary {
  color: #2E4C6D !important;
}
